
 .site-header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9000;

} 

.app-nav {
    position: sticky;
    top: 72px;
    z-index: 9000;

}

.page-title-container a{
    text-decoration: none !important;
}

#demo-badge {
    white-space: nowrap;
    height: 22px;
    width: 48px;
    text-align: center;
    line-height: 1.5rem;
    display: inline-block;
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 800;
    vertical-align: middle;
    margin-left: 8px;
    border-radius: 1px;
    color: #000;
    background: #ff8d00;
}


